<div>
  <div class="d-table">
    <div class="d-table-cell">
      <div class="tagus-form ms-auto me-auto">
        <div class="title">
          <div class="d-flex mb-10 align-items-center">
            <h2 class="mb-0 me-30">Get Started</h2>
            <img src="main/webapp/assets/img/logo-icon.png" alt="logo-icon" />
          </div>
          <p>Already have an account? <a routerLink="/authentication/login" class="main-color fw-medium">Login now!</a></p>
        </div>
        <form (ngSubmit)="register()" [formGroup]="registerForm">
          <div class="bg-white border-radius pt-20 ps-20 pe-20">
            <div class="tagus-form-group without-icon">
              <label class="d-block mb-12 fw-semibold gray-color">Name <span>*</span></label>
              <mat-form-field appearance="fill">
                <mat-label for="login">Enter name</mat-label>
                <input
                  matInput
                  type="text"
                  class="form-control"
                  id="login"
                  name="login"
                  placeholder="Your username"
                  formControlName="login"
                  data-cy="username"
                  #login
                />
              </mat-form-field>
            </div>
            <div class="tagus-form-group without-icon">
              <label class="d-block mb-12 fw-semibold gray-color">Email Address <span>*</span></label>
              <mat-form-field appearance="fill">
                <mat-label for="email">Enter email address</mat-label>
                <!-- <input matInput> -->
                <input
                  matInput
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Your email"
                  formControlName="email"
                  data-cy="email"
                />
              </mat-form-field>
            </div>
            <div class="tagus-form-group without-icon">
              <label class="d-block mb-12 fw-semibold gray-color">Password <span>*</span></label>
              <mat-form-field appearance="fill">
                <mat-label for="password">Enter your password</mat-label>
                <!-- <input matInput [type]="hide ? 'password' : 'text'"> -->
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="New password"
                  formControlName="password"
                  data-cy="firstPassword"
                />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="tagus-form-group without-icon">
              <label class="d-block mb-12 fw-semibold gray-color">Confirm Password <span>*</span></label>
              <mat-form-field appearance="fill">
                <mat-label for="confirmPassword">Enter your password</mat-label>
                <!-- <input matInput [type]="hide ? 'password' : 'text'"> -->
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="Confirm the new password"
                  formControlName="confirmPassword"
                  data-cy="secondPassword"
                />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <button mat-flat-button class="tagus d-block fw-semibold">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
